		p{
			margin-left:250px;
			margin-right:250px;
			font-size:1.25em;
			color:white;
			}
			h1{
   			text-align: center;
		color:white;
			}

		div{
			margin-top:50px;
			text-align: center;
			}

		.margin{
			margin-top:50px;
			}

		.width{
			width:150px;
			margin-top:50px;
		       }
body {
	background-image: url('istockphoto-1206505233-612x612.jpg');
	 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
